@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SuperPixel';
  src: url('../public/assets/fonts/Super\ Pixel\ Personal\ Use.ttf');
}

@font-face {
  font-family: 'QuinqueFive';
  src: url('../public/assets/fonts/QuinqueFive.ttf');
}